/* 10 points*/
h1 {
    color: #ff0000;   
}

/*1 point*/
.green-text {
    color: #fff000
}

/*100 points*/
#width-300 {
    width:300px;
}

.border-blue {
    border: 1px solid blue
}

.purple-text { 
    color:purple
}
.list-item {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    border: dotted 1px;
    margin: 10px;
    background-color: yellow;

}